/* menyn ska vara centrerad med jämnt mellanrum mellan alla element */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* raden med bilder ska hamna längst ner i article */
article {
  display: flex;
  align-items: flex-end;
}

/* boxarna med text ska hamna längst ut åt vardera sida */
footer {
  display: flex;
  justify-content: space-between;
}

/* dom små boxarna med ljusare färg ska vara samma storlek medans den stora boxen ska vara dubbla storleken.
alla boxar tillsammans ska täcka hela sidan */
.small {
  flex: 1;
}

.large {
  flex: 2;
}
